.docs-view {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.title-pane {
  width: 100%;
  display: flex;
  justify-content: center;
}

.text-doc {
  box-sizing: border-box;
  width: 40%;
  height: 77.65%;
  overflow: auto;
  padding: 7.06% 4.71%;
  border: 1px solid black;
  /*font-size: 0.33%;*/
  font-size: 12px;
}

.bin-doc {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  width: 40%;
  height: 77.65%;
  overflow: auto;
  padding: 7.06% 4.71%;
  overflow: auto;
  border: 1px solid black;
  font-size: 12px;
  /*0.38%;*/
  word-wrap: break-word;
}

.stats-pane {
  width: 100%;
}

.pre-text {
  background-color: yellow;
  color: black;
}

.cursor {
  background-color: black;
  color: white;
}

.post-text {
  background-color: white;
  color: black;
}
