.docs-view {
  display: flex;
  justify-content: space-around;
}

.text-doc {
  width: 510px;
  height: 660px;
  overflow: auto;
  padding: 30px;
  border: 1px solid black;
  font-size: 10pt;
}

.ascii-doc {
  font-family: 'Roboto Mono', monospace;
  width: 510px;
  height: 660px;
  overflow: auto;
  padding: 30px;
  border: 1px solid black;
  font-size: 8pt;
  word-wrap: break-word;
}

.pre-text {
  background-color: yellow;
  color: black;
}

.cursor {
  background-color: black;
  color: white;
}

.post-text {
  background-color: white;
  color: black;
}
